<h3>Xin chรo, {{customerName}},</h3>

<p>Yรชu cแบงu hoรn tiแปn cho ฤฦกn ฤแบทt sรขn
  <strong>{{bookingCode}}</strong>
  cแปงa bแบกn ฤรฃ ฤฦฐแปฃc xแปญ lรฝ
  <strong>thรnh cรดng</strong>.</p>

<p>Sแป tiแปn hoรn lแบกi: <strong>{{refundAmount}} VND</strong></p>

<p>Sแป tiแปn sแบฝ ฤฦฐแปฃc chuyแปn vแป vรญ ZaloPay cแปงa bแบกn trong vรฒng 3โ5 ngรy lรm viแปc,
  tรนy thuแปc vรo chรญnh sรกch xแปญ lรฝ cแปงa ZaloPay.</p>

<p><em><strong>Lฦฐu รฝ:</strong>
    Nแบฟu bแบกn ฤรฃ sแปญ dแปฅng mรฃ giแบฃm giรก trong ฤฦกn ฤแบทt nรy, phแบงn giรก trแป khuyแบฟn mรฃi sแบฝ
    khรดng ฤฦฐแปฃc hoรn lแบกi. Sแป tiแปn hoรn lแบกi ฤฦฐแปฃc tรญnh dแปฑa trรชn sแป tiแปn bแบกn thแปฑc tแบฟ
    ฤรฃ thanh toรกn.</em></p>

<p>๐
  <strong>Quy ฤแปnh hoรn tiแปn:</strong>
  <a
    href='https://on-the-pitch.vercel.app/chinh-sach-hoan-tien'
    target='_blank'
  >Xem tแบกi ฤรขy</a></p>

<p>Cแบฃm ฦกn bแบกn ฤรฃ sแปญ dแปฅng dแปch vแปฅ cแปงa chรบng tรดi. Hแบนn gแบทp lแบกi bแบกn lแบงn sau!</p>