<h3>Xin chรo, {{customerName}},</h3>

<p>Chรบng tรดi rแบฅt tiแบฟc phแบฃi thรดng bรกo rแบฑng yรชu cแบงu hoรn tiแปn cho ฤฦกn ฤแบทt sรขn
  <strong>{{bookingCode}}</strong>
  cแปงa bแบกn ฤรฃ bแป
  <strong>tแปซ chแปi</strong>.</p>

<p>Lรฝ do tแปซ chแปi (nแบฟu cรณ): <em>{{reason}}</em></p>

<p>Chรบng tรดi hiแปu ฤiแปu nรy cรณ thแป gรขy bแบฅt tiแปn vร rแบฅt mong bแบกn thรดng cแบฃm. Nแบฟu
  bแบกn cรณ bแบฅt kแปณ thแบฏc mแบฏc nรo hoแบทc cแบงn hแป trแปฃ thรชm, xin vui lรฒng liรชn hแป vแปi bแป
  phแบญn chฤm sรณc khรกch hรng cแปงa chรบng tรดi.</p>

<p>๐
  <strong>Quy ฤแปnh hoรn tiแปn:</strong>
  <a
    href='https://frontend-on-the-pitch.vercel.app/chinh-sach-hoan-tien'
    target='_blank'
  >Xem tแบกi ฤรขy</a></p>

<p>Cแบฃm ฦกn bแบกn ฤรฃ sแปญ dแปฅng dแปch vแปฅ cแปงa chรบng tรดi. Chรบng tรดi hy vแปng sแบฝ tiแบฟp tแปฅc
  ฤฦฐแปฃc ฤแปng hรnh cรนng bแบกn trong thแปi gian tแปi.</p>